 ## Creating a logistic regression to predict absenteeism

## import the relevant libraries

In [1]:
import pandas as pd
import numpy as np

## Load the data

In [2]:
data_preprocessed=pd.read_csv('Absenteeism_preprocessed.csv')
data_preprocessed

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

### here I will find median of absenteeism_time in order to classify people

In [3]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

### In this case hours >=4 excessively absent, hours<=3 moderately absent. So for excessive we'll assign 1, and for moderate 0. In supervised learning these 0s and 1s :TARGETS

In [4]:
targets=np.where(data_preprocessed['Absenteeism Time in Hours']>
                 data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [5]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [6]:
data_preprocessed['Excessive Absenteeism']=targets
data_preprocessed

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2,0

#####  Target should be balanced, there should not be big gap between the number of excessive absence and moderate. Here this proportion is 45:55, which is sufficient to work on.

In [7]:
targets.shape[0]

700

In [8]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [9]:
data_with_targets=data_preprocessed.drop(['Absenteeism Time in Hours', 'Day of the Week',
                                          'Daily Work Load Average', 'Distance to Work'], axis=1)
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

##### Select the inputs for the regression; entire data frame will be taken as inputs, except "Excessive absenteesm"

In [10]:
unscaled_input=data_with_targets.iloc[:, :-1]
unscaled_input.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1

### Standardize the data

In [11]:
#from sklearn.preprocessing import StandardScaler
#absenteeism_scaler=StandardScaler()

####  The entire input will be standarzed except dummy values. Since dummy values are already binary and they are not quantitive variables, scaling them could cause losing interprete ability of the dummies.  So reasons and education columns  will be out of scope of scaling. For this reason CustomScaler which is based on StandardScaler will be used.

In [12]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator,TransformerMixin):
    
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns = columns
    
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [13]:
unscaled_input.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

### now, we will create a new variable for scale called columns to Scale that will contain the columns we'd like to scale

### ----Backward elimination comment----      While doing backward elimination we should remove the same column names from columns_to_scale, but to have more dynamic code, and this case we dont need to delete the column name manually for every change of df.

In [14]:
#columns_to_scale=['Month Value','Day of the Week','Transportation Expense','Distance to Work','Age','Daily Work Load Average','Body Mass Index','Children','Pets']
columns_to_omit= ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [15]:
#columns_to_scale

In [16]:
columns_to_scale=[x for x in unscaled_input.columns.values if x not in columns_to_omit ]
columns_to_scale

['Month Value',
 'Transportation Expense',
 'Age',
 'Body Mass Index',
 'Children',
 'Pets']

In [17]:
absenteeism_scaler=CustomScaler(columns_to_scale)
absenteeism_scaler

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

##### we have created an empty custom scaler object. absenteeism scaler will be used to subtract the mean and divide by the standard deviation from each point of variablewise

In [18]:
absenteeism_scaler.fit(unscaled_input)

C:\Users\igsum\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

CustomScaler(columns=['Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

### the result of above line will be stored in the absenteeism_scaler object, so it wont be empty anymore

In [19]:
scaled_inputs=absenteeism_scaler.transform(unscaled_input)

In [20]:
scaled_inputs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487

## Split the data into train and test and shuffle

### Import the relevant module

In [21]:
from sklearn.model_selection import train_test_split

### Split

In [22]:
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 475         0         0         0         1     0.182726
 334         1         0         0         0     1.324766
 673         0         0         0         1    -0.673803
 697         1         0         0         0    -0.388293
 44          0         0         0         1     0.753746
 ..        ...       ...       ...       ...          ...
 607         0         0         0         1    -1.244823
 582         1         0         0         0    -1.530333
 487         0         0         0         1     0.468236
 484         0         0         0         1     0.468236
 96          1         0         0         0     1.324766

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 475                1.005844 -0.536062         0.767431          0  0.880469
 334                0.568211 -0.065439        -0.878984          0  2.679969
 673               -0.654143 -1.006686        -1.819793          1 -0.919030
 697                1.624567 -1.320435        -0.408580          1 -0.919030
 44                -1.016322 -0.379188        -0.408580          0  0.880469
 ..                      ...       ...              ...        ...       ...
 607               -0.654143  0.248310         1.002633          0 -0.919030
 582                1.005844 -0.536062         0.767431          0  0.880469
 487               -0.654143  0.248310         1.002633          0 -0.919030
 484                1.005844 -0.536062         0.767431          0  0.880469
 96                 1.005844 -0.536062         0.767431          0  0.880469

          Pets
 475  0.268487
 334 -0.589690
 673 -0.589690
 697 -0.589690
 44  -0.589690
 ..        ...
 607 -0.589690
 582  0.268487
 487 -0.589690
 484  0.268487
 96   0.268487

 [525 rows x 11 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 634         1         0         0         0    -0.959313
 538         1         0         0         0     1.324766
 227         1         0         0         0    -0.102784
 83          0         0         1         0     1.324766
 11          1         0         0         0     0.182726
 ..        ...       ...       ...       ...          ...
 551         0         0         0         0     1.324766
 144         1         0         0         0    -1.244823
 578         0         0         0         1    -1.530333
 169         1         0         0         0    -0.959313
 405         0         0         0         0    -0.959313

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 634               -0.654143  0.248310         1.002633          0 -0.919030
 538                0.190942 -0.692937        -0.408580          1 -0.919030
 227                0.356940  0.718933        -0.878984          0 -0.919030
 83                -0.654143  0.562059        -1.114186          1  0.880469
 11                 0.568211 -0.065439        -0.878984          0  2.679969
 ..                      ...       ...              ...        ...       ...
 551                0.190942  1.032682         2.649049          0 -0.019280
 144                2.499833  2.130803        -0.643782          0 -0.919030
 578               -0.654143 -1.006686        -1.819793          1 -0.919030
 169               -0.654143  0.562059        -1.114186          1  0.880469
 405                0.190942  0.091435         0.532229          1 -0.019280

          Pets
 634 -0.589690
 538 -0.589690
 227 -0.589690
 83  -0.589690
 11  -0.589690
 ..        ...
 551 -0.589690
 144 -0.589690
 578 -0.589690
 169 -0.589690
 405  0.268487

 [175 rows x 11 columns],
 array([1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
        0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
        1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1,
        0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
        1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0,
        0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0,
        1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
        0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
        0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
        0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
        1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
        0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
        0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1,
        0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1]),
 array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
        1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0])]

In [23]:
x_train, x_test, y_train, y_test=train_test_split(scaled_inputs, targets, train_size=0.8)

In [24]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [25]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

### Logistic regression with sklearn
### StatsModels is not compatible with the more complicated models, therefore scikit-learn ML librarie used for Logistic Regression

In [26]:
from  sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [27]:
reg=LogisticRegression()
reg.fit(x_train, y_train)

LogisticRegression()

In [28]:
reg.score(x_train, y_train)

0.7767857142857143

### Checking the accuracy manually

In [29]:
model_outputs=reg.predict(x_train)
model_outputs

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0])

In [30]:
model_outputs==y_train

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True, False,  True,  True, False,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
        True,  True,  True, False,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True, False,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True, False,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False,  True, False,
       False,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True, False,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True, False, False,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
       False,  True,  True, False,  True,  True, False,  True,  True,
        True,  True, False,  True,  True, False,  True,  True, False,
        True, False,  True,  True, False, False,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False,  True,  True, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True])

In [31]:
np.sum((model_outputs==y_train))

435

In [32]:
model_outputs.shape[0]

560

In [33]:
np.sum((model_outputs==y_train))/model_outputs.shape[0]

0.7767857142857143

### Finding the intercept and coefficients

In [34]:
reg.intercept_

array([-1.82325675])

In [35]:
reg.coef_

array([[ 2.95999581,  0.7580335 ,  2.99760918,  0.85835886,  0.09242242,
         0.63019927, -0.1480748 ,  0.18818646,  0.34939167,  0.35960526,
        -0.31403489]])

### we are going to create new table with feature name, and then add coef column to it

In [36]:
feature_name=unscaled_input.columns.values
feature_name

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [37]:
summary_table=pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table

              Feature name
0                 Reason_1
1                 Reason_2
2                 Reason_3
3                 Reason_4
4              Month Value
5   Transportation Expense
6                      Age
7          Body Mass Index
8                Education
9                 Children
10                    Pets

In [38]:
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

              Feature name  Coefficient
0                 Reason_1     2.959996
1                 Reason_2     0.758033
2                 Reason_3     2.997609
3                 Reason_4     0.858359
4              Month Value     0.092422
5   Transportation Expense     0.630199
6                      Age    -0.148075
7          Body Mass Index     0.188186
8                Education     0.349392
9                 Children     0.359605
10                    Pets    -0.314035

### The code below is to have empty index in order to add "Intercept" on the top the data frame.

In [39]:
summary_table.index=summary_table.index+1
summary_table.loc[0]=['Intercept', reg.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.823257
1                 Reason_1     2.959996
2                 Reason_2     0.758033
3                 Reason_3     2.997609
4                 Reason_4     0.858359
5              Month Value     0.092422
6   Transportation Expense     0.630199
7                      Age    -0.148075
8          Body Mass Index     0.188186
9                Education     0.349392
10                Children     0.359605
11                    Pets    -0.314035

### Adding exponential values of coef as "odds ratio"

In [40]:
summary_table['Odds_ratio']=np.exp(summary_table.Coefficient)
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -1.823257    0.161499
1                 Reason_1     2.959996   19.297891
2                 Reason_2     0.758033    2.134075
3                 Reason_3     2.997609   20.037573
4                 Reason_4     0.858359    2.359286
5              Month Value     0.092422    1.096828
6   Transportation Expense     0.630199    1.877985
7                      Age    -0.148075    0.862367
8          Body Mass Index     0.188186    1.207059
9                Education     0.349392    1.418205
10                Children     0.359605    1.432764
11                    Pets    -0.314035    0.730494

#### sorting out dataframe by 'odds_ratio' column, by default it will sort ascending, so by adding extra parameter we will sort it by descending

In [41]:
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature name  Coefficient  Odds_ratio
3                 Reason_3     2.997609   20.037573
1                 Reason_1     2.959996   19.297891
4                 Reason_4     0.858359    2.359286
2                 Reason_2     0.758033    2.134075
6   Transportation Expense     0.630199    1.877985
10                Children     0.359605    1.432764
9                Education     0.349392    1.418205
8          Body Mass Index     0.188186    1.207059
5              Month Value     0.092422    1.096828
7                      Age    -0.148075    0.862367
11                    Pets    -0.314035    0.730494
0                Intercept    -1.823257    0.161499

#### Let's interpret this new dataframe. If variable's coef is around 0 and odds ration is around 1 it means that the corresponding feature is not so important.
#### A coef(weight) of 0 implies that no matter the feature value, we'll multiply it by 0 (in the model)
#### For a unit change in the standardized feature, the odds increase by a multiple equal to the odds ratio (1=no change)

#### since "day of the week", "Daily Work Load Average", "Distance to Work" almost dont have impact to our model (as we see from coef and oods_ratio) we can eliminate these features from df. This is also called backward elimination. So we are going back to add these feature to drop list.  And after dropping those feature the accurecy model has not changed, since they didnt have impact on the model. Moreover, the simplest model (which contains less amount of features) is always better.

#### So, in order to simplify data frame I am going back to the checkpoint (where 'Absenteeism Time in Hours' column dropped and new df named "data_with_targets") to drop 'Day of the week', 'Daily Work Load Average', 'Distance to Work'.

## Now its time to test our model
#### Once we test our model we should not touch the model to improve our model. Because if we are doing that this won't be testing anymore, it means we are training our model a bit more. In conclusion test data should not be part of training process.

In [42]:
reg.score(x_test,y_test)

0.7071428571428572

#### So based on data that the model has never seen before, we can say that in 75% of the cases the model will predict if a person is going to be excessively absent. As we see the accuracy is not same as on the training data, it's less than as always.

In [43]:
predicted_probability=reg.predict_proba(x_test)
predicted_probability

array([[0.32703898, 0.67296102],
       [0.62716716, 0.37283284],
       [0.42611559, 0.57388441],
       [0.68849146, 0.31150854],
       [0.81140898, 0.18859102],
       [0.30718327, 0.69281673],
       [0.68511137, 0.31488863],
       [0.29271497, 0.70728503],
       [0.81140898, 0.18859102],
       [0.7926693 , 0.2073307 ],
       [0.80717969, 0.19282031],
       [0.59260612, 0.40739388],
       [0.28190952, 0.71809048],
       [0.07551508, 0.92448492],
       [0.10689067, 0.89310933],
       [0.78829915, 0.21170085],
       [0.44051668, 0.55948332],
       [0.81541377, 0.18458623],
       [0.81541377, 0.18458623],
       [0.50240502, 0.49759498],
       [0.32125821, 0.67874179],
       [0.46667067, 0.53332933],
       [0.74790406, 0.25209594],
       [0.79472431, 0.20527569],
       [0.6209766 , 0.3790234 ],
       [0.57980536, 0.42019464],
       [0.08039682, 0.91960318],
       [0.76750923, 0.23249077],
       [0.31792939, 0.68207061],
       [0.16323819, 0.83676181],
       [0.756543  , 0.243457  ],
       [0.80255399, 0.19744601],
       [0.61352479, 0.38647521],
       [0.41166521, 0.58833479],
       [0.77696928, 0.22303072],
       [0.7926693 , 0.2073307 ],
       [0.85222508, 0.14777492],
       [0.29923689, 0.70076311],
       [0.17143911, 0.82856089],
       [0.40052756, 0.59947244],
       [0.29234634, 0.70765366],
       [0.55389589, 0.44610411],
       [0.63120753, 0.36879247],
       [0.79899564, 0.20100436],
       [0.58685467, 0.41314533],
       [0.78829915, 0.21170085],
       [0.34974951, 0.65025049],
       [0.70385542, 0.29614458],
       [0.2913874 , 0.7086126 ],
       [0.08217428, 0.91782572],
       [0.07401871, 0.92598129],
       [0.30746523, 0.69253477],
       [0.8390955 , 0.1609045 ],
       [0.3472008 , 0.6527992 ],
       [0.7577237 , 0.2422763 ],
       [0.80733783, 0.19266217],
       [0.44493926, 0.55506074],
       [0.42083438, 0.57916562],
       [0.78001549, 0.21998451],
       [0.85933728, 0.14066272],
       [0.58685467, 0.41314533],
       [0.30159618, 0.69840382],
       [0.45356163, 0.54643837],
       [0.50408688, 0.49591312],
       [0.80670203, 0.19329797],
       [0.78571366, 0.21428634],
       [0.07771822, 0.92228178],
       [0.77545418, 0.22454582],
       [0.94546674, 0.05453326],
       [0.80950921, 0.19049079],
       [0.80670203, 0.19329797],
       [0.12774864, 0.87225136],
       [0.10545187, 0.89454813],
       [0.18072233, 0.81927767],
       [0.75284664, 0.24715336],
       [0.74596674, 0.25403326],
       [0.88567291, 0.11432709],
       [0.39927374, 0.60072626],
       [0.45589783, 0.54410217],
       [0.2232361 , 0.7767639 ],
       [0.6689466 , 0.3310534 ],
       [0.31282749, 0.68717251],
       [0.61474638, 0.38525362],
       [0.42611559, 0.57388441],
       [0.60847832, 0.39152168],
       [0.2232361 , 0.7767639 ],
       [0.35067853, 0.64932147],
       [0.17279501, 0.82720499],
       [0.75093465, 0.24906535],
       [0.12926049, 0.87073951],
       [0.07584776, 0.92415224],
       [0.58821784, 0.41178216],
       [0.81541377, 0.18458623],
       [0.71240887, 0.28759113],
       [0.61219017, 0.38780983],
       [0.6494365 , 0.3505635 ],
       [0.33196678, 0.66803322],
       [0.88256349, 0.11743651],
       [0.75164996, 0.24835004],
       [0.81541377, 0.18458623],
       [0.60631548, 0.39368452],
       [0.8879239 , 0.1120761 ],
       [0.14796408, 0.85203592],
       [0.62716716, 0.37283284],
       [0.57980536, 0.42019464],
       [0.64548367, 0.35451633],
       [0.75583721, 0.24416279],
       [0.79038603, 0.20961397],
       [0.56689635, 0.43310365],
       [0.40687965, 0.59312035],
       [0.78150849, 0.21849151],
       [0.77545418, 0.22454582],
       [0.81541377, 0.18458623],
       [0.46667067, 0.53332933],
       [0.80255399, 0.19744601],
       [0.36930372, 0.63069628],
       [0.18984965, 0.81015035],
       [0.81541377, 0.18458623],
       [0.34469394, 0.65530606],
       [0.03325092, 0.96674908],
       [0.60631548, 0.39368452],
       [0.49749011, 0.50250989],
       [0.81140898, 0.18859102],
       [0.79697246, 0.20302754],
       [0.75093465, 0.24906535],
       [0.54940768, 0.45059232],
       [0.75583721, 0.24416279],
       [0.75093465, 0.24906535],
       [0.74596674, 0.25403326],
       [0.80851865, 0.19148135],
       [0.3037594 , 0.6962406 ],
       [0.12926049, 0.87073951],
       [0.79697246, 0.20302754],
       [0.61259612, 0.38740388],
       [0.39420873, 0.60579127],
       [0.87698222, 0.12301778],
       [0.79038603, 0.20961397],
       [0.8655964 , 0.1344036 ],
       [0.38792508, 0.61207492],
       [0.87117442, 0.12882558]])

### Save the model

In [44]:
import pickle

In [45]:
 with open('model', 'wb') as file:
    pickle.dump(reg,file)

In [46]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)